-- bitmark-node.conf  -*- mode: lua -*-
local M = {}

M.port = 9980
M.datadir = "."
M.versionURL = "https://s3-ap-northeast-1.amazonaws.com/bitmark-node/version.json"

-- logging configuration
M.logging = {
    directory = ".",
    file = "bitmark-node.log",
    size = 1048576,
    count = 10,
    console = false, -- set false in PRODUCTION
    levels = {
        DEFAULT = "info"
    }
}


return M